<div class="container">
  <h2 class="text-center">Register</h3>
  <form action="/auth/register" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <% if (email != undefined) { %>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="<%= email %>">
      <% } else { %>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <% } %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <% if (exists != undefined) { %>
      <p class="text-danger">User already exists. Please try a new email</p>
    <% } %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>