<div class="container">
  <form action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
    </div>
<<<<<<< HEAD
    <div class="form-group">
      <lable for="reminderDate">Set Reminder Date: </lable>
      <input type="date" class="form-control" name="reminderDate">
    </div>
    <div class="form-group">
      <lable for="reminderTime">Set Reminder Time: </lable>
      <input type="time" class="form-control" name=reminderTime>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
=======
    <div class="form-group" id="subtaskList">
      <label for="subtasks">Subtasks</label>
      <p id="subtaskNone">None</p>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="createSubtaskTextArea" placeholder="Add a new subtask"></textarea>
      <button type="button" id="createSubtask" class="btn btn-primary">Create Subtask</button>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
>>>>>>> c81441f5417400fb8ba83ab2b392dcacb02144f0
  </form>
</div>
<script src="/subtask.js"></script>
